*{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	width: 800px;
	min-height: 801px;
	margin:auto auto;
	}

h1{
	color:blue;
	background-color: yellow;
	border:1px solid black;
}


p,li{
	text-decoration:underline;
	color:red;
}
.row{
	min-height: 25px;
}
