
body{
	background-image: url(image/140.png);
	background-size:cover;
}


 footer p{
 	
	 
	    color: white;
	}
	  .nav-item{
    padding-left: 25px;
  }

  h1{
	
	
	 text-align: center;
	 color: white;
}





